/*
    Style for Dashboard

    By CSULA - QTC Team
*/

/*Truncate error message with max size*/
.table td.message {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Add sorting arrows to column headers*/
table.dataTable > thead > tr > th:active,
table.dataTable > thead > tr > td:active {
    outline: none;
}

table.dataTable > thead .sorting,
table.dataTable > thead .sorting_asc,
table.dataTable > thead .sorting_desc,
table.dataTable > thead .sorting_asc_disabled,
table.dataTable > thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
    right: 1em;
    content: "↑";
}

table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "↓";
}

table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after {
    opacity: 1;
}

table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
    opacity: 0;
}

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}

/*Change cursor and background color for column header/view button on hover*/
.view-error:hover, table.dataTable thead td:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

/*Remove certain styles for view column header*/
#view, #view::after, #view::before {
    cursor: auto;
    pointer-events: none;
    content: none;
}

/*Handle table overflow*/
.table-responsive {
    overflow-x: scroll;
}


#help-button-container {
    height: 100%;
}

#help-button {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    content: "\3f";
}

    #help-button::after {
        color: rgba(255, 255, 255, 0.5);
        content: "\3f";
    }

    #help-button:hover {
        background-color: rgba(255, 255, 255, 0.25);
        content: "\3f";
    }