@model Qtc.Dashboard.ViewModelLayer.Dashboard.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>The value below is "Display" value set in Init() method from DashboardViewModel.cs file</h1>
    <br />
    <h2>"Display" value  = @Model.Lob</h2>
    <br />
    <h4>
        <p>To see the data table for SQL</p> <a href="https://localhost:7001/ErrorTable/Index?lob=RHRP&integration=SQL">https://localhost:7001/ErrorTable/Index?lob=RHRP&integration=SQL</a>
        <p>To see the data table for Oracle</p> <a href="https://localhost:7001/ErrorTable/Index?lob=RHRP&integration=Oracle">https://localhost:7001/ErrorTable/Index?lob=RHRP&integration=Oracle</a>
    </h4>
</div>