@model Qtc.Dashboard.ViewModelLayer.Dashboard.DashboardViewModel
@{
    ViewData["Title"] = "DashboardView Page";
}

<div class="text-center">
    <h1 class="display-4">This is the DashboardView page</h1>

    <br />
</div>