<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QTC_Smart_Dashboard</title>
    
    @* Add the logo on the window tab *@
    <link rel="icon" href="~/img/qtc-logo.svg">

    @* Boostrap 5 *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
    @* Custom fonts for this template *@
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" type="text/css" asp-append-version="true">

    @* Custom styles for this template *@
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/qtc-adminui.css" asp-append-version="true" />

</head>
<body>
    @* Page Wrapper *@
    <div id="wrapper">

        @* Sidebar *@
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            @* Sidebar - Brand *@
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <img class="qtclogo" src="~/img/qtc-logo.svg" alt="QTC Logo">
            </a>

            @* Divider *@
            <hr class="sidebar-divider my-0">

            @* Nav Item - Dashboard *@
            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            @* Divider *@
            <hr class="sidebar-divider">

            @* Heading *@
            <div class="sidebar-heading">
                Applications
            </div>

            @* TODO: Replace next two items and replace with a OrganizationItem that is a component created*@
            @await Component.InvokeAsync("OrganizationItems")


            @* Divider *@
            <hr class="sidebar-divider d-none d-md-block">

            @* Sidebar Toggler (Sidebar) *@
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


            @* Sidebar HelpButton (Sidebar) *@

            <div class="d-flex align-items-end justify-content-center p-3" style="height: 100%;">

                @* Button trigger modal *@
                <button type="button" class="btn btn-primary rounded-circle mt-auto " data-bs-toggle="modal" data-bs-target="#helpModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z" />
                    </svg>
                </button>

                @* Modal *@
                <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="helpModalLabel">QTC Dashboard Help</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-start"> Welcome to QTC Dashboard Help Window! </p>
                                <p class="text-start"> This dashboard Displays user and system errors based on access level from different sources.</p>

                                <h6 class="text-start fw-bold">Sorting:</h6>
                                <p class="text-start">Simply click the title to sort the data in alphabetical order.</p>

                                <h6 class="text-start fw-bold">Filter By Search:</h6>
                                <p class="text-start">Enter in some text in the search bar to filter the results.</p>

                                <h6 class="text-start fw-bold">More Errors:</h6>
                                <p class="text-start">Our dashboard displays 200 errors at one time, to display 200 more simply click on the more pages button.</p>

                                <h6 class="text-start fw-bold">Entries Shown:</h6>
                                <p class="text-start">
                                    By default our dashboard only shows 1- errors at a time but by clicking on the drop down under Show,
                                    you can select to display more entries on the page.
                                </p>

                                <h6 class="text-start fw-bold">Error Types:</h6>
                                <p class="text-start">
                                    There are application errors and system errors. Admin can see both types of errors by clicking
                                    on either User Errors, System Errors, or All. Users cannot see system errors.
                                </p>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


        </ul>
        @* End of Sidebar *@
        @* Content Wrapper *@
        <div id="content-wrapper" class="d-flex flex-column">

            @* Main Content *@
            <div id="content">

                @* Topbar *@
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    @* Sidebar Toggle (Topbar) *@
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <span class="mr-2 d-lg-inline text-gray-600 small"> Sensitive/Classified information</span>

                    @* Topbar Navbar *@
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        @* Nav Item - User Information *@
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Quincy T. Carlson - Last Login 2/16/2022 10:43AM</span>
                                <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg">
                            </a>
                            @* Dropdown - User Information *@
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                @* End of Topbar *@
                @* Begin Page Content *@
                @RenderBody()
                @* /.container-fluid *@

            </div>
            @* End of Main Content *@
            @* Footer *@
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; QTC Management, Inc. 2023</span>
                    </div>
                </div>
            </footer>
            @* End of Footer *@

        </div>
        @* End of Content Wrapper *@

    </div>
    @* End of Page Wrapper *@ 
    
    @* Bootstrap core JavaScript *@
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 

    @* Core plugin JavaScript *@
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script> @* https://gsgd.co.uk/sandbox/jquery/easing/*@

    @* Custom scripts for all pages *@
    <script src="~/js/sb-admin-2.min.js"></script> @* https://github.com/StartBootstrap/startbootstrap-sb-admin-2/blob/master/vendor/bootstrap/js/bootstrap.bundle.js *@
    
    @* Page level plugins *@
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    @* Page level custom scripts *@
    <script src="~/js/datatables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
    
    <script src="~/js/sidebar.js" asp-append-version="true"></script>


</body>
</html>
