@model List<Dashboard.Common.DataModels.OrgsWithApps> // gets the OrgsWithApps data model

@*Loop through all the applications with organizations retreived in ViewComponents/OrganizationItemViewComponents*@
@foreach (var currentOrganization in Model)
{
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-@currentOrganization.organization.Lob" aria-expanded="true" aria-controls="collapse-@currentOrganization.organization.Lob">
            <i class="fas fa-fw fa-cog"></i>
            <span>@currentOrganization.organization.Lob</span>
        </a>
        <div id="collapse-@currentOrganization.organization.Lob" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Integration Points:</h6>
                    @foreach (var currentApplication in currentOrganization.applications)
                    {
                    <a class="collapse-item" href="/ErrorTable/Index?lob=@currentOrganization.organization.Lob&integration=@currentApplication.IntegrationPoint&username=bryan&password=qtcpass">@currentApplication.IntegrationPoint</a>
                    }
            </div>
        </div>
    </li>
}
